<%- include('include/header.ejs') %>
    <Header>E-Commerce Website</Header>
    <%- include('include/navbar.ejs') %>
    <main>

        <h1>products List</h1>

        <%- include('include/productlist.ejs') %>

        <h1 class="btn btn-success"> add product </h1>
    </main>


<%- include('include/footer.ejs') %>