<form method="POST" action="/products/add">
    <p>
        <label for="title">Title</label>
        <div><input type="text" class="form-control" name="title" /></div>
    </p>
    <p>
        <button class="btn btn-success"> add product </button>
    </p>
 </form>